<p id="notice"><%= notice %></p>

<p>
  <strong>Singular:</strong>
  <%= @question_plural.question %>
</p>

<%= link_to 'Edit', edit_question_plural_path(@question_plural) %> |
<%= link_to 'Back', question_plurals_path %>
