/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
img{
  height:60px;
}
body{
  background-image: url("/assets/kremlin.png");
  background-size:150px;
}
.ans{
  position:absolute;
}
.textfield{
  position:relative;
  width: 100px;
  margin-left: -7px;
}

.nav-tabs{
  margin-top: 200px;
  background-color: white;
  font-weight: bold;
}
p{
  font-size: 25px;
text-align: center;
}
#check3 {
  margin-left:1000px;
  margin-top:100px;
}

.btn-success{
  margin-left: 1100px;
  margin-top: -50px;
}
.container{
  margin-top: 50px;

}

#masculine_drop {
    width: 250px;
    height:250px;
    border:solid;
    text-align: center;
    margin-left:-50px;
    background-color: white;
}
#feminine_drop {
    width: 250px;
    height:250px;
    border:solid;
    margin-top: -250px;
    margin-left: 275px;
    text-align: center;
    background-color: white;
}
#neuter_drop {
    width: 250px;
    height:250px;
    border:solid;
    margin-top: -250px;
    margin-left: 625px;
    text-align: center;
    background-color: white;
}
#plural_drop {
    width: 250px;
    height:250px;
    border:solid;
    margin-top: -250px;
    margin-left: 975px;
    text-align: center;
    background-color: white;
}
.ui-state-highlight{
  background-color: green !important;
  color:white;
}
.drag{
  width:100px;
  height:30px;
  border:solid;
  text-align:center;
  background-color: yellow;
}
#changetabmove{
  margin-left: 1200px;
  margin-top: 100px;
}
.check_dog{
position:absolute;
margin-top:-25px;
}
#check2{
  margin-left:1000px;
}
.check{
  margin-left:1000px;
}
#red_square{
  height:1000px;
}
