<%= form_with(model: test, local: true, html: {id: "test_name"}) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit "Start a test", :class =>"btn", :id =>"new_test_btn" %>
  </div>
<% end %>
